/* Footer text animation */
.footer-text {
    animation: slideInFromLeft 0.5s ease-out;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  /* Social media icons animation */
  .icon-link {
    transition: transform 0.5s ease-out;
  }
  
  .icon-link:hover {
    transform: translateX(-3px);
  }
  
  /* Wave animation */
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(100%);
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  /* Set fill opacity for all waves */
  .wave path {
    fill-opacity: 75;
  }
  
  /* Adjust specific waves' position */
  .wave:nth-child(1) {
    transform: translateX(-100%) translateY(100%);
  }
  
  .wave:nth-child(2) {
    transform: translateX(-50%) translateY(100%);
  }
  
  .wave:nth-child(3) {
    transform: translateY(100%);
  }
  