
  .flip-card {
    width: 80%;
    height: 90%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flip-card:hover {
    transform: rotateY(180deg);
  }
  
  .flip-card-inner {
    width: 100%;
    height: 150px;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 12%;
  }
  
 
  
  .flip-card-back {
    /* background-color: #fff; */
    transform: rotateY(180deg);
  }
  
  .card-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid white;
    /* border-radius: 0.25rem; */
    text-decoration: none;
    color: inherit;
  }
  
 
  