@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  
}

.transparent-blur-background {
  /* background: rgba(80, 78, 78, 0.5); Adjust the alpha value for transparency */
  backdrop-filter: blur(2px); /* Adjust the blur value as needed */
}
/* text-[#656565] */